* {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
  /* border: 4px solid red; */
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #000;
  color: beige;
}
main{
  margin: 7em 1em ;
}
.char-container,
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.4em;
  flex-wrap: wrap;
}
.char-container li img {
  width: 220px;
  text-align: center;
}
.char-container li h2,
header {
  width: 100%;
  text-align: center;
}
.char-container li {
  list-style-type: none;
}
.each-char {
  width: 240px;
  padding: 0.8em;
  border: 2px solid grey;
}
.each-char:hover {
  background-color: rgba(113, 129, 127, 0.933);
  cursor: pointer;
  border-radius: 1em;
}
.each-char:hover img {
  transform: scale(1.1);
  border-radius: 1em;
}

.home-btn {
  font-size: 1rem;
  padding: 0.4em;
  margin: 2em 40%;
  cursor: pointer;
  background-color: #f06868;
  color: beige;
  border: none;
  border-radius: 0.3em;
}

.char-img {
  width: 50%;
  transform: rotate(20deg);
  margin: 4em;
}

.not-found {
  text-align: center;
  color: #f06868;
  font-size: 2rem;
}
.not-found-text {
  text-align: center;
  color: aquamarine;
}
.logo {
  width: 3em;
  padding: 0;
  margin: 0;
}
header {
  background-color: #5866e4;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6em;
  padding: 0.6em;
  margin-bottom: 1em;
  position: fixed;
  top: 0;
  z-index: 10;
}
.title {
  background-color: #000;
  margin: 0 0.4em;
  padding: 0.2em;
  border-radius: 0.4em;
  text-decoration: none;
}
nav a {
  margin: 0.4em;
  padding: 0.2em;
}
a {
  color: aliceblue;
  text-decoration: none;
}
nav .active,
nav a:hover {
  background-color: rgb(67, 203, 208);
  border-radius: 0.4em;
  color: rgb(222, 227, 233);
  text-decoration: none;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.container2 img,
.content {
  flex: 1;
  max-width: 90%;
  padding: 1em;
  border-radius: 2.6em 1.2em 2.6em 1.2em;
}

@media screen and (min-width: 768px) {
  .container2 {
    flex-direction: row;
  }

  .container2 img {
    flex: 1;
    max-width: 40%;
  }

  .container2 .content {
    flex: 1;
    max-width: 60%;
    padding: 1em;
  }
}
@media screen and (min-width: 320px) {
  .home-btn {
    width: 34%;
  }
}
.content h3 {
  margin: 0.6em 0.2em;
  padding: .2em;
  border: 1px solid pink;
}
.content h3 b {
  color: #6898f0;
}
